<div>
    <div class="rwkDialogDiv">
        <p>
            Choose new item type
        </p>
    </div>
    <div id="newItemTypesDiv" class="selectorDiv rwkDialogDiv">
        <label for="newItemTypes" class="inputDescriptor"> Change item to : </label>
        <select name="newItemTypes" id="newItemTypes" class="selectCombo">
                <option value="weapon">Weapon</option>
                <option value="equipment" selected>Equipment</option>
                <option value="consumable">Consumable</option>
                <option value="tool">Tool</option>
                <option value="loot">Loot</option>
                <option value="class">Class</option>
                <option value="spell">Spell</option>
                <option value="feat">Feature</option>
                <option value="backpack">Backpack</option>

        </select>
    </div>
    <button id="submit"> Change! </button>
    <p>
        You can find the Github page <a href="https://github.com/QuantumBob/rwk-tools">here</a>.
    </p>
</div>