<form class="rwk-tools">
    <div>
        <img src="modules/rwk-tools/images/DungeonAlchemist-Logo-Softshadow-small.webp" name="DALogo" title="DALogo" alt="Dungeon Alchemist Logo">
    </div>
    <hr>
    <div class="flexcol">
        <div>
            <div>
                <span class="large fas fa-file-import fa-fw"></span>
                <span class="large">Map Image</span>
            </div>
            <br>
            <h3>Select the picture that was exported with the JSON.</h3>
            <h3>It will have the same name as the JSON.</h3>
        </div>
        <br>
        <input id="pic" title="map input" placeholder="map-input" type="file" accept="image/*"/>
        <br>
        <div>
            <div>
                <span class="large fas fa-file-import fa-fw"></span>
                <span class="large">Map JSON</span>
            </div>
            <br>
            <h3>Select the JSON that was exported by Dungeon Alchemist.</h3>
        </div>
        <br>
        <input id="json" title="map input" placeholder="map-input" type="file" accept=".json">
    </div>
    <hr>

    <button id="submit"> Import Dungeon Alchemist map </button>
    <p>You can find this modules Github page <a href="https://github.com/QuantumBob/rwk-tools">here</a>.</p>
    <hr>
    <br>
    <h3>You can find the Dungeon Alchemist website <a href="https://www.dungeonalchemist.com/">here</a>.</h3>
    <h3>You can but it on Steam <a href="https://store.steampowered.com/app/1588530/Dungeon_Alchemist/">here</a>.</h3>
</form>