<div>
    <p><i class="fa-solid fa-object-group rwk-icon"></i>  {{localize 'RWKJOURNAL.dialog.merge-journals'}}</p>
    <hr>
    <p>{{ localize 'RWKJOURNAL.dialog.description' }}</p>
    <p>{{ localize 'RWKJOURNAL.dialog.help' }}</p>
    <hr>
    <p>{{ localize 'RWKJOURNAL.dialog.keep-journal' }}</p>
    <!-- <span>{{localize 'RWKJOURNAL.dialog.keep'}} ... </span> -->
    <input type="checkbox" id="keep-second" name="keep-journal" value="" checked>
        <label for="keep-second">{{localize 'RWKJOURNAL.dialog.keep'}} {{localize 'RWKJOURNAL.dialog.second'}} {{ localize 'RWKJOURNAL.dialog.journal' }}</label>
    <!-- <br>
    <input type="radio" id="keep-none" name="keep-journal" value="none">
        <label for="keep-none">{{localize 'RWKJOURNAL.dialog.neither'}} {{ localize 'RWKJOURNAL.dialog.journal' }}</label>
    <input type="radio" id="keep-first" name="keep-journal" value="first" checked>
        <label for="keep-first">{{localize 'RWKJOURNAL.dialog.first'}} {{ localize 'RWKJOURNAL.dialog.journal' }}</label>
    <br>
    <input type="radio" id="keep-second2" name="keep-journal" value="second">
        <label for="keep-second2">{{localize 'RWKJOURNAL.dialog.second'}} {{ localize 'RWKJOURNAL.dialog.journal' }}</label>
    <input type="radio" id="keep-both" name="keep-journal" value="both" checked>
        <label for="keep-both">{{ localize 'RWKJOURNAL.dialog.both' }} {{ localize 'RWKJOURNAL.dialog.journals' }}</label> -->
    <hr>
</div>