<div>
    <p><i class="fa-solid fa-object-group rwk-icon"></i>  {{localize 'RWKJOURNAL.dialog.merge'}} {{data.name}} {{localize 'RWKJOURNAL.dialog.journal'}} [type : {{data.type}}]</p>
    <hr>
    <p>{{ localize 'RWKJOURNAL.dialog.description' }}</p>
    <p>{{ localize 'RWKJOURNAL.dialog.help' }}</p>
    <hr>
    <p>{{ localize 'RWKJOURNAL.dialog.keep-journal' }}</p>
    <input type="checkbox" id="keep-second" name="keep-journal" value="" checked>
        <label for="keep-second">{{localize 'RWKJOURNAL.dialog.keep'}} {{localize 'RWKJOURNAL.dialog.second'}} {{ localize 'RWKJOURNAL.dialog.journal' }}</label>
    <hr>
</div>